$v-app-loading-text: "Loading";

$v-background-color: hsl(0, 0, 99.5%);
$v-app-background-color: #fff;
$v-focus-color: hsl(218, 80%, 60%);
$v-border: 1px solid (v-shade 0.6);
$v-border-radius: 3px;
$v-bevel: inset 0 1px 0 v-tint;
$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;
$valo-menu-background-color: hsl(218, 20%, 98%);
$v-friendly-color: hsl(163, 61%, 41%);
$v-error-indicator-color: hsl(349, 66%, 56%);
$v-font-size: 12px;
$v-unit-size: 20px;
$v-layout-margin-top: 10px; 
$v-layout-margin-right: 10px; 
$v-layout-margin-bottom: 10px; 
$v-layout-margin-left: 10px; 

@import "../valo/valo";

.tests-valo-light .valo-menu .valo-menu-title {
  background: $v-app-background-color;
  color: $v-selection-color;
  text-shadow: none;
  border-color: first-color(valo-border($color: $v-app-background-color, $strength: 0.5));
}

@mixin light {
  @include valo;
  // Insert your own theme rules here
  
  div.v-horizontallayout-nested .v-formlayout-first td.v-formlayout-errorcell {
     display: none;
  }  
  
  div.v-horizontallayout-nested .v-formlayout-first td.v-formlayout-captioncell {
     display: none;
  }  
  
  div.v-horizontallayout-nested .v-formlayout-first span.v-required-field-indicator {
     display: none;
  }
  
  .v-caption-required:after {
    content: "*"; 
    color: #d94560;
    padding-left:2px;
  }  
  
  div.v-panel-caption {
  	background-color: #f99d34;
  	background-image: none;
  }
  
  .programSearchForm {
    border: 2px solid #f99d34;
    border-radius: 5px;
    padding: 5px;
  }
  
  div#banner {
  	width: 100%;
  	height: 100px;
	padding-bottom: 5px;
  }
  div#banner .v-panel{
	background: transparent;
    border: 0px;
  }

  div#activeProgramLogo {
	vertical-align: middle;
  }
  div#activeProgramLogo img {
  	max-height: 96px;
  	max-width: 96px;
  }
  
  div.fileUpload img {
   	max-height: 96px;
  	max-width: 96px;
  }
  
  div.v-formlayout.halfScreen {
  	width: 50% !important;
  }
  
  div.ocsDialog {
  	width: 600px !important;
  }
  

  div.modelBasedTable {
  	 height: 450px !important;
  }
  
  div.attributePanel td.v-formlayout-captioncell {
  	 width: 20%;
  }
  
  .v-button-primary {
  	  	background-color: #f99d34;
  	  	background-image: none;
  	  	border: none;
  	  	box-shadow: none;
  }
  
  .v-window-header {
  		color: black;
  		background-color: #f99d34;
  }
  
  td.v-grid-cell.actual {
  	 font-weight: bold;
  }
  
  td.v-grid-cell.coverage {
     background-color: red;
     color: white;
  }
  
  td.v-grid-cell.rowSum {
  	 font-style: italic;
  }
  
  td.v-grid-cell {
  	 text-align: right;
  }

  td.v-grid-cell.left {
  	 text-align: left;
  }
    
  div.v-caption-on-top div.numerical {
    float: right;
  }
  
  tr.divider {
  	border-top: 1px solid black;
  }
  
  td.v-table-cell-content-parentRow {
  	font-weight: bold;
  }
  
  td.v-table-cell-content-warning {
     background-color: red;
  }
  
  /* Align numerical fields in tables to the right */
  .v-textfield.numerical {
  	text-align: right;
  }
  
  /* Style specifically for the text in cells that should emphasis on an error. */
  .v-table-cell-content-error {
     background-color: red;
     color: white;
   }
   
   .v-table-cell-content-quantity-error {
     background-color:  #FF3300;
     color: white;
   }
  
   .v-table-cell-content-stock-coverage-high {
     background-color: #FF9900;
   }
   
   .v-table-cell-content-stock-coverage-low {
     background-color: #FF6600;
     color: white;
   }
   
   .v-table-cell-content-store-closed {
     background-color: #FF6600;
     color: white;
   }
   
   .v-table-cell-content-over-allocation {
     background-color: #660000;
     color: white;
   }
    
   /* Style specifically for the text in cells that should emphasis on an warning. */
   .v-table-cell-content-warning {
     background-color: orange;
     color: white;
   }
	  
   div.v-caption-danger {
   	 color: red;
   }

   div.v-slot.v-slot-login {
     background: url("../../images/mountain.jpg") no-repeat center;
   }
   
   #loginForm {
     background-color: white !important;
     border: 1px solid gray;
     border-radius: 10px;
     width: 200px !important;
   }
   
   div.divider .v-table-header table, div.divider .v-table-table {
     border-collapse: collapse;
   }
  
   td.v-table-cell-content-divider {
  	 border-top: 1px solid black;
   }
}